@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body {
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Barlow Semi Condensed';
    background-color:hsl(210, 46%, 95%) ;
}

main {
    width: 1440px;
    display: grid;
    grid-template-areas:
    'cont1 cont1 cont2 cont3'
    'cont4 cont5 cont5 cont3';
    grid-gap: 2em;
}
#daniel,
#jonathan,
#jeanette,
#patrick,
#kira {
    border-radius: 12px;
    padding: 2em; 
}

#daniel,
#jonathan,
#patrick {
    color: white;
}

img {
    border-radius: 50%;
    border: 2px solid hsl(0, 0%, 81%) ;
    grid-area: img;
}

.img-purple{
    border: 2px solid hsl(263, 87%, 64%) ;
}
h4 {
    font-weight: 600;
    font-size: 2em;
    margin: 1em 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 16px 16px;
    grid-gap: 16px;
    grid-template-areas: 
    'img nombre'
    'img desc';
    height: 64px;
}

.text{
    color:rgba(212, 212, 212, 0.884); 
}
p{
    grid-area: desc;
    font-size: 1.3em;
    color: rgba(160, 160, 160, 0.795);
    text-align: justify;
}

h2,
.position-p{
    position: relative;
    bottom: 10px;
}
h2 {
    grid-area: nombre;

}   


.white{
    color:rgb(66, 66, 66);
}

#daniel {
    grid-area: cont1;
    background-color: hsl(263, 55%, 52%);
}

#jonathan {
    grid-area: cont2;
    background-color: hsl(217, 19%, 35%);
}

#jeanette {
    grid-area: cont4;
    background-color: #fff;
}

#patrick {
    grid-area: cont5;
    background-color: hsl(219, 29%, 14%);
}

#kira {
    grid-area: cont3;
    background-color: #fff;
}




.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 1450px) {
    body{
        font-size: 12px;
    }    
}
@media only screen and (max-width: 1350px) {
    body{
        font-size: 10px;
    }
}
@media only screen and (max-width: 1250px) {
    main {
        grid-template-areas:
        'cont1 cont1 cont2'
        'cont4 cont5 cont5'
        'cont3 cont3 cont3';
    }
}
@media only screen and (max-width: 850px) {
    body{
        font-size: 8px;
    }
}
@media only screen and (max-width: 550px) {
    body{
        display: flex;
        position: relative;
        top:850px;
        font-size: 15px;
        height: none;
        justify-content: none;
        align-items: none;
    }
    main {
        grid-template-areas:
        'cont1'
        'cont2'
        'cont3'
        'cont4'
        'cont5';
    }
}